form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 30px 0;
}

input {
    border: 1px solid rgba(128, 128, 128, 1);
    border-radius: 4px;
    padding: 8px 16px;
    width: 238px;
    height: 22px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
}

input:hover {
    border: 1px solid rgb(0, 0, 0);
}

input:focus {
    border: 1px solid rgb(78, 117, 255);
    outline: none;
}

button {
    border-radius: 8px;
    background: rgb(78, 117, 255);
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    border: none;
    padding: 8px 16px;
}

button:hover {
    background: rgb(108, 140, 255);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
}

.item-image {
    width: 360px;
    height: 200px;
}

.image-info {
    display: flex;
    margin: 4px 20px;
}

.info-accent{
    display: block;
    font-weight: 600;
    line-height: 16px;
}

.item-likes {
    margin-right: 28px;
    text-align: center;
}

.item-views {
    margin-right: 27px;
    text-align: center;
}

.item-comments {
    margin-right: 32px;
    text-align: center;
}

.item-downloads {
    text-align: center;
}

/* #region Loader */
.loader {
    position: relative;
    width: 64px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: rotate(45deg);
    overflow: hidden;
    margin: 0 auto;
}

.loader:after {
    content: '';
    position: absolute;
    inset: 8px;
    margin: auto;
    background: #222b32;
}

.loader:before {
    content: '';
    position: absolute;
    inset: -15px;
    margin: auto;
    background: #de3500;
    animation: diamondLoader 2s linear infinite;
}

@keyframes diamondLoader {

    0%,
    10% {
        transform: translate(-64px, -64px) rotate(-45deg)
    }

    90%,
    100% {
        transform: translate(0px, 0px) rotate(-45deg)
    }
}

/* #endregion */